.main {
  width: 100%;
  padding: 100px 5%;
  background: linear-gradient(135deg, black 85%, #e2ff66 100%);

  @media (max-width: 800px) {
    padding: 50px 5%;
  }

  &_content {
    width: 100%;

    &_top {
      display: flex;
      margin-bottom: 75px;

      @media (max-width: 800px) {
        flex-direction: column;
      }

      &_left,
      &_right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media (max-width: 800px) {
          width: 100%;
          text-align: center;
        }
      }

      &_right {
        // justify-content: flex-end;
        
        &_info {
          padding: 20px 0;
          width: 65%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 18px;
          background-color: white;
          border: 1px solid black;
          color: black;
          clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - 60px),
            calc(100% - 60px) 100%,
            0 100%
          );
          text-align: center;

          @media (max-width: 450px) {
            width: 90%;
            clip-path: none;
            margin-bottom: 10px;
          }

          &:nth-child(2) {
            margin-top: -10px;
            margin-left: -50px;

            @media (max-width: 450px) {
              margin-top: 0;
              margin-left: 0;
            }
          }

          &:last-child {
            background-color: #cfec57;
            margin-top: -10px;

            @media (max-width: 450px) {
              margin-top: 0;
            }
          }

          & h3 {
            //   display: flex;
            font-weight: 100;
            font-size: 4rem;

            @media (max-width: 450px) {
              font-size: 2rem;
            }

            &::before,
            &::after {
              content: '>';
              font-size: 4rem;

              @media (max-width: 450px) {
                font-size: 2rem;
              }
            }

            &::before {
              margin-right: 1rem;
            }

            &::after {
              content: '<';
              margin-left: 1rem;
            }
          }

          & p {
            width: 70%;
            font-size: 15px;

            @media (max-width: 450px) {
              font-size: 13px;
            }
          }
        }
      }

      &_left {
        &_div {
          width: 100%;
          padding-left: 50px;

          @media (max-width: 800px) {
            padding-left: 0;
          }

          & h2 {
            font-size: 80px;
            text-transform: uppercase;
            font-weight: 100;
            margin-bottom: 20px;
            width: 75%;

            @media (max-width: 800px) {
              width: 100%;
              text-align: center;
            }

            @media (max-width: 450px) {
              font-size: 60px;
            }
          }

          & p {
            max-width: 75%;
            font-size: 15px;

            @media (max-width: 800px) {
              width: 100%;
              max-width: 100%;
              text-align: center;
              margin-bottom: 50px;
            }
          }
        }
      }
    }

    &_awards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 100px;

      @media (max-width: 800px) {
        padding: 0;
      }

      & div {
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & img {
        @media (max-width: 800px) {
          width: 65%;
        }
      }
    }
  }
}
