@import '../../../mixins.scss';

.main {
  width: 100%;
  height: 610px;
  display: flex;

  background: conic-gradient(
    from 270deg at 50% 50%,
    rgba(64, 224, 208, 0.1) -79.72deg,
    rgba(22, 29, 37, 0.2) 43.82deg,
    #40e0d0 280.19deg,
    #161d25 280.21deg,
    rgba(64, 224, 208, 0.5) 280.23deg,
    #161d25 280.26deg,
    rgba(64, 224, 208, 0.1) 280.28deg,
    rgba(22, 29, 37, 0.2) 403.82deg
  );

  @media (max-width: 770px) {
    flex-direction: column;
    height: 100%;
    padding: 50px 0;
  }

  @media (max-width: 380px) {
    padding: 50px 10px;
  }

  &_left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;

    @media (max-width: 770px) {
      width: 100%;
    }

    &_div {
      width: 70%;

      @media (max-width: 770px) {
        width: 100%;
      }

      & h2 {
        //   display: flex;
        font-weight: 100;
        font-size: 3rem;
        // width: 70%;
        margin-bottom: 20px;

        @media (max-width: 800px) {
          text-align: center;
          font-size: 2.5rem;
          padding: 0 20px;
        }

        @media (max-width: 450px) {
          font-size: 2rem;
        }

        &::before,
        &::after {
          content: '>';
          font-size: 3rem;
          color: #40e0d0;

          @media (max-width: 800px) {
            font-size: 2.5rem;
          }

          @media (max-width: 450px) {
            font-size: 2rem;
          }
        }

        &::before {
          margin-right: 1rem;
        }

        &::after {
          content: '<';
          margin-left: 1rem;
        }
      }
    }

    &_list {
      width: 70%;
      margin-bottom: 20px;

      @media (max-width: 770px) {
        width: auto;
      }

      &_wrapper {
        width: 100%;

        &_item {
          margin-bottom: 10px;
          font-size: 15px;

          & img {
            margin-right: 10px;
          }
        }
      }
    }

    &_wrapper {
      width: 70%;

      @media (max-width: 770px) {
        width: auto;
      }

      &_button {
        @include button;

        background: none;
        // border: none;
        // &::before {
        //   content: '';
        //   position: absolute;
        //   bottom: -2px; /* Adjust if necessary */
        //   right: -2px; /* Adjust if necessary */
        //   width: 20px; /* Adjust according to your need */
        //   height: 20px; /* Adjust according to your need */
        //   background: #000000; /* Background color to match your page background */
        //   border-bottom-left-radius: 10px; /* Match the button border-radius */
        //   transition: all 0.3s ease;
        // }
      }
    }
  }

  &_right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 770px) {
      width: 100%;
    }

    &_wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        width: 45%;
        animation: float 3s ease-in-out infinite;

        @media (max-width: 450px) {
          width: 65%;
        }
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}