@import '../../mixins.scss';

.main {
  padding: 0 5%;
  width: 100%;
  height: 100vh;
  // margin-top: 50px;
  position: relative;
  display: flex;
  align-items: flex-end;
  //   justify-content: center;
  background: linear-gradient(
    -15deg,
    rgba(226, 255, 102, 0.5) 0%,
    rgba(226, 255, 102, 0) 50%
  );

  @media (max-width: 1025px) {
  }

  &_content {
    position: absolute;
    top: 20vh;

    @media (max-width: 1025px) {
      width: 100%;
    }

    @media (max-width: 320px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &_description_wrapper {
    padding: 12px 16px;
    background-color: #37364b;
    border-radius: 40px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    text-transform: uppercase;

    @media (min-width: 1025px) {
      padding: 16px 24px;
    }
  }

  &_description_text {
    font-size: 10px;

    @media (min-width: 1025px) {
      font-size: 16px;
    }
  }

  &_image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    position: relative;
    margin-bottom: -17vh;
    margin-left: 40vw;
    bottom: 0;
    right: 0;
    transform: scale(1.75);
    transform-origin: center;

    @media (max-width: 1025px) {
      transform: scale(1.2);
      margin-bottom: -30vh;
    }

    @media (max-width: 450px) {
      transform: scale(1);
      margin-bottom: -35vh;
      margin-left: 30vw;
    }

    @media (max-width: 376px) {
      transform: scale(0.7);
      // margin-bottom: -35vh;
      // margin-left: 30vw;
    }

    & canvas {
      position: absolute;
      bottom: 0;
    }
  }

  h1 {
    margin-top: 24px;
    margin-bottom: 48px;
    font-size: 5rem;
    max-width: 50%;
    font-weight: 300;
    text-transform: uppercase;

    @media (max-width: 1025px) {
      // margin-top: 4vh;
      max-width: 90%;
      width: 100%;
      // text-align: center;
      font-size: 3rem;
    }

    @media (max-width: 768px) {
      // text-align: center;
      font-size: 2.5rem;
    }

    @media (max-width: 320px) {
      text-align: center;
      font-size: 1.8rem;
      // margin-top: 1vh;
      margin-bottom: 15px;
    }
  }

  p {
    margin-bottom: 30px;
    max-width: 30%;
    font-size: 16px;
    font-weight: 200;

    @media (max-width: 768px) {
      font-size: 12px;
    }

    @media (max-width: 320px) {
      font-size: 12px;
      max-width: 90%;
      text-align: center;
    }
  }

  button {
    @include button;

    width: 160px;
    height: 60px;
    color: black;

    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%
    );

    background: conic-gradient(
        from 25.57deg at 12% 50%,
        #e2ff66 0deg,
        #8da720 360deg
      ),
      #ffffff;

    @media (max-width: 768px) {
      font-size: 13px;
      padding: 10px 20px;
      width: 130px;
      height: 50px;
    }

    @media (max-width: 320px) {
      font-size: 12px;
      padding: 10px 20px;
      width: 120px;
      height: 40px;
      margin-left: calc(65vw - 120px);
    }
  }
}

.wrapper {
  position: fixed;
  z-index: 1000;
  margin-left: -5%;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
  transition: display 3s ease-out;

  &_fadeOut {
    display: none;
  }

  &_loader {
    width: 80px;
    aspect-ratio: 1;
    border: 10px solid #0000;
    box-sizing: border-box;
    background: radial-gradient(farthest-side, #fff 98%, #0000) 0 0/20px 20px,
      radial-gradient(farthest-side, #fff 98%, #0000) 100% 0/20px 20px,
      radial-gradient(farthest-side, #fff 98%, #0000) 100% 100%/20px 20px,
      radial-gradient(farthest-side, #fff 98%, #0000) 0 100%/20px 20px,
      linear-gradient(#fff 0 0) 50%/40px 40px, #000;
    background-repeat: no-repeat;
    filter: blur(4px) contrast(10);
    animation: l12 0.8s infinite;
  }
}
@keyframes l12 {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0, center;
  }
}

.fadeOut {
  opacity: 0;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  aspect-ratio: 1;
  border: 10px solid #0000;
  box-sizing: border-box;
  background: radial-gradient(farthest-side, #fff 98%, #0000) 0 0/20px 20px,
    radial-gradient(farthest-side, #fff 98%, #0000) 100% 0/20px 20px,
    radial-gradient(farthest-side, #fff 98%, #0000) 100% 100%/20px 20px,
    radial-gradient(farthest-side, #fff 98%, #0000) 0 100%/20px 20px,
    linear-gradient(#fff 0 0) 50%/40px 40px, #000;
  background-repeat: no-repeat;
  filter: blur(4px) contrast(10);
  animation: l12 0.8s infinite;
}
@keyframes l12 {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0, center;
  }
}
