@import '../../mixins.scss';

.main {
  width: 100%;

  &_top {
    width: 100%;
    display: flex;
    height: 600px;
    background: linear-gradient(-45deg, black 85%, #e2ff66 100%);

    &_left,
    &_right {
      padding: 0 5%;
      width: 50%;
      display: flex;
      //   align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    &_left {
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      & h3 {
        // width: 75%;
        font-weight: 200;
        font-size: 40px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      & p {
        width: 75%;
        padding-right: 100px;
        font-size: 15px;
      }
    }

    &_right {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      align-items: flex-end;

      & button {
        @include button;

        background-color: white;
        color: black;
        // margin-right: -100px;
        width: 300px;
      }
    }
  }

  &_center {
    width: 100%;
    // padding: 100px 5%;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &_left,
    &_right {
      width: 50%;
      //   height: 100%;
      padding: 100px 5%;
    }

    &_left {
      border-right: 1px solid rgba(255, 255, 255, 0.2);

      & h1 {
        font-weight: 300;
        font-size: 50px;
      }
    }

    &_right {
      &_dropdown {
        margin-bottom: 20px;
        border: 1px solid #252525;
        border-radius: 12px;
        overflow: hidden;
        transition: background-color 1s ease;
        display: flex;
        flex-direction: column;

        &_question {
          padding: 20px;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: background-color 1s ease;

          & h2 {
            width: 90%;
            font-weight: 100;
            font-size: 18px;
          }

          &:hover {
            background-color: #0a0a0a;
          }
        }

        &_icon {
          border-radius: 12px;
          width: 32px;
          height: 32px;
          border: 1px solid;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 1s ease;
          transition: color 1s ease;

          & p {
            padding: 2px 4px 5px 5px;

            font-size: 20px;
          }
        }

        &_answer {
          width: 100%;
          max-height: 0;
          padding: 0;
          overflow: hidden;
          transition: max-height 1s ease;
          background-color: #0a0a0a;

          & p {
            margin: 20px;
            font-size: 13px;
            opacity: 0.5;

            &:first-child {
              margin-top: 30px;
            }
          }
        }

        &_open {
          background-color: #0a0a0a;

          .main_center_right_dropdown_answer {
            max-height: 1000px;
            transition: max-height 1s ease-in-out;
          }

          .main_center_right_dropdown_icon {
            background-color: #d0ec57;
            color: black;
            & p {
              //   transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  &_bottom {
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &_left,
    &_right {
      width: 50%;

    }

    &_right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 5%;

      &_info {
        margin-bottom: 20px;

        & p {
          opacity: 0.5;
          font-size: 13px;
          margin-bottom: 5px;
        }

        & a {
          font-size: 35px;
          font-family: var(--font-jetbrains-mono);
          transition: color .5s ease-in-out;

          &:hover {
            color: #e2ff66;
          }
        }
      }
    }

    &_left {
      border-right: 1px solid rgba(255, 255, 255, 0.2);

      & h3 {
        padding: 100px 2% 30px 5%;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 40px;
      }

      &_form {
        padding: 0 5% 100px 5%;
        display: flex;
        flex-direction: column;

        & button {
          @include button;
          margin-top: 10px;
          width: 40%;
          font-weight: 200;
          text-transform: uppercase;
          color: black;
          background-color: white;
        }

        & input[type='text'] {
          width: 100%;
          height: 50px;
          background: none;
          border: none;
          border-bottom: 1px solid white;
          color: white;
          outline: none;
        }

        & input {
          margin-bottom: 15px;
        }

        &_block {
          width: 100%;
          display: flex;

          &_checkbox {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            & input {
              margin: 0;
              margin-right: 10px;
            }

            & p {
              font-weight: 100;
              font-size: 12px;
            }
          }

          &_left,
          &_right {
            width: 50%;

            &_input {
              width: 100%;
              height: 50px;
              margin-bottom: 15px;
              background: none;
              border: none;
              border-bottom: 1px solid white;
              color: white;
              outline: none;
            }
          }

          &_left {
            padding-right: 10px;
          }

          &_right {
            padding-left: 10px;
          }
        }
      }
    }
  }
}
