@import '../../mixins.scss';

.main {
  width: 100%;
  padding: 50px 5%;
  display: flex;
  flex-direction: column;

  @media (max-width: 600px) {
    padding: 20px 5%;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 54px;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 16px;
    }

    h1 {
      @include text-style(300, 54px, #fff);

      @media (max-width: 800px) {
        @include text-style(300, 40px, #fff);
      }
    }

    .header_button {
      border: none;
      background-color: #ffffff00;
      margin-top: auto;
      position: relative;
      cursor: pointer;

      p {
        @include text-style(200, 18px, #fff);
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: var(--font-jetbrains-mono, monospace);
        text-transform: uppercase;
        transform: translate(-50%, -50%);
      }
    }
  }

  .content {
    display: flex;
    width: 100%;

    .block_wrapper {
      flex: 2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      gap: 25px;

      @media (max-width: 1666px) {
        grid-template-columns: 1fr;

        .left_align {
          margin-right: auto;
          margin-left: 0;
        }

        .right_align {
          margin-left: auto;
          margin-right: 0;
        }
      }

      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
      }

      .small_block {
        width: 100%;
        justify-content: space-between;
        gap: 30px;
        display: flex;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 10px;

        @media (max-width: 1666px) {
          max-width: 838px;
        }

        @media (max-width: 600px) {
          flex-direction: column;
        }

        .block_content {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          width: 45%;
          gap: 32px;

          @media (max-width: 920px) {
            gap: 10px;
          }

          @media (max-width: 600px) {
            width: 100%;
            align-items: center;
          }

          h5 {
            @include text-style(200, 20px, #fff);
            margin-bottom: 5px;
            text-transform: uppercase;
          }

          .subtitle {
            text-transform: uppercase;
            @include text-style(200, 16px, rgba(255, 255, 255, 0.4));
            text-transform: uppercase;
          }

          .details {
            @include text-style(400, 16px, rgba(255, 255, 255, 0.6));

            @media (max-width: 600px) {
              margin-bottom: 10px;
              text-align: center;
            }
          }

          .button {
            border: none;
            background-color: #ffffff00;
            width: 166px;
            margin-top: auto;
            position: relative;
            cursor: pointer;

            p {
              @include text-style(200, 18px, #fff);
              position: absolute;
              top: 50%;
              left: 50%;
              width: 70%;
              font-family: var(--font-jetbrains-mono, monospace);
              text-transform: uppercase;
              transform: translate(-50%, -50%);
            }
          }
        }
        .image {
          width: 50%;

          @media (max-width: 600px) {
            width: 100%;
          }
        }
      }
    }
  }
}
