@import '../../mixins.scss';

.main {
  width: 100%;
  padding: 50px 5%;
  display: flex;
  flex-direction: column;

  @media (max-width: 600px) {
    padding: 20px 5%;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 54px;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 16px;
    }

    h1 {
      @include text-style(300, 54px, #fff);

      @media (max-width: 800px) {
        @include text-style(300, 40px, #fff);
      }
    }

    .button {
      width: 150px;
      color: #fff;
      @include button;
      padding: 1px;
      border: none;

      .inside {
        @include text-style(200, 18px, #fff);
        width: 148px;
        @include button;
        background-color: black;
        border: none;
        padding: 18px 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
      }
    }
  }

  .content {
    display: flex;
    width: 100%;
    gap: 25px;

    .block_wrapper {
      flex: 2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
      }
      gap: 25px;

      .small_block {
        width: 100%;
        justify-content: space-between;
        gap: 30px;
        display: flex;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 10px;

        @media (max-width: 600px) {
          flex-direction: column;
        }

        .block_content {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          width: 45%;

          @media (max-width: 600px) {
            width: 100%;
            align-items: center;
          }

          h5 {
            @include text-style(200, 20px, #fff);
            margin-bottom: 5px;
            text-transform: uppercase;
          }

          .subtitle {
            text-transform: uppercase;
            @include text-style(200, 16px, rgba(255, 255, 255, 0.4));
            margin-bottom: 20px;
            text-transform: uppercase;
          }

          .details {
            @include text-style(400, 16px, rgba(255, 255, 255, 0.6));

            @media (max-width: 600px) {
              margin-bottom: 10px;
              text-align: center;
            }
          }

          .button {
            color: #fff;
            width: 150px;
            margin-top: auto;
            @include button;
            padding: 1px;
            border: none;
            // box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 1);

            .inside {
              width: 150px;
              @include button;
              @include text-style(200, 18px, #fff);
              background-color: black;
              border: none;
              padding: 15px 20px;
            }
          }
        }
        .image {
          width: 50%;

          @media (max-width: 600px) {
            width: 100%;
          }
        }
      }
    }
  }
}
